
			<ul>
				<li class="selected">
					<%= link_to 'principal', index_path %>
				</li>
				<li>
					<%= link_to 'vídeos', videos_path %>
				</li>
				<li>
					<%= link_to 'dinâmicas', dinamicas_path %>
				</li>
				
			</ul>
